.content {
    background-color: #f8f9f9;
    font-size: 14px;
    border-top: 1px solid #e3e3e3;

    h3 {
        color: #737c85;
        font-size: 21px;
        padding-top: 40px;
        font-weight: 400;
    }

    p {
        color: #929da5;
        font-size: 14px;
        word-spacing: 3px;
    }

    .container {

        @media #{$mq-desktop} {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 30px;
        }
    }
}