.footer {
    background-color: #242a2c;
    padding: 50px 0 250px;
    color: #454e51;

    h2 {
        text-transform: uppercase;
    }

    @media #{$mq-desktop} {
        .container {
            display: flex;
        }

        .container>* {
            margin: 2em;
        }
    }
}

.footer__links {
    li {
        list-style: none;
    }

    a {
        color: #454e51;
        display: block;
        text-decoration: none;
        font-weight: 600;
    }
}