.laptop-slider {
    background-color: #242a2c;
    padding: 125px 0 100px;
    width: 100%;
    overflow: auto;
}

.slideshow {
    white-space: nowrap;

    figure {
        display: inline-block;
    }

}